body{
    background-color: rgb(231, 200, 245);
}


P{
background-color: rgba(137, 43, 226, 0.24);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
color: rgb(213, 205, 205);
}

#p1{
    background-color: rgba(95, 38, 93, 0.174);
    text-align-last: left;
    color: rgb(213, 205, 205);
}

.c1{
    background-color: rgba(81, 14, 126, 0.322);
    text-align: left;
    color: rgb(234, 226, 230);
}

.div{
    background-color: rgb(81, 14, 126);
    color: rgb(14, 15, 15);
    text-align: center;
}

table{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    color: rgb(20, 21, 21);
}

h2{
    
    text-align: center;
    font-family: Verdana;
    color: #5c0964;
}

td{
    text-align: center;
}

a {
    color: blue;
}
h1 {
    text-align: center;
    font-family: Verdana ;
    color: #5c0964;
     

body{
    background-color: rgb(16, 17, 17);
}


P{
background-color: blueviolet;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
}

#p1{
    background-color: blue;
    text-align: center;
    color: rgb(106, 20, 20);
}

.c1{
    background-color: palevioletred;
    text-align: left;
    color: rgb(153, 70, 150);
}

.div{
    width: 500px;
    left: 50px;
    color: aquamarine;
}

table{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    color: aqua;
}

h2{
    text-align: center;
    font-family: Verdana;
    color: #5c0964;
}

td{
    text-align: center;
}

a {
    color: blue;
}
h1 {
    text-align: center;
    font-family: Verdana ;
    color: #5c0964;
}
}